PORT=3000
NODE_ENV=development
DATA_DIR=./data
LANCE_DB_PATH=./data/fhir_vectors
FHIR_DATASET_PATH=/Users/bhowmikchawda/Downloads/sample-bulk-fhir-datasets-10-patients
OLLAMA_BASE_URL=http://localhost:11434
EMBEDDING_MODEL=nomic-embed-text
CHAT_MODEL=llama3.1
LOG_LEVEL=info
